:root {
  /* Colors. */
  --ui-main-header: 		  #FFFFFF;
  --ui-main-body: 		    #FBFBFB;
  --ui-main-footer: 		  #FFFFFF;
	--ui-border:            #D8D8D8;
  --ui-error:             #DD574B;
  --ui-warning:           #FFBE00;
  --ui-success:           #8DA552;
  --ui-button: 			      #F5F5F5;
	--ui-button-border: 	  #4D575D;
	--ui-button-icon-color: #4D575D;
  --ui-seruice-heading: 	#EF7B10;
  --ui-orange: 			      #ED7B22;
}

.ui-main-header {
  background-color: #FFFFFF;
  max-height: 2em;
	min-height: 3em;
	width: 100%;
  border-bottom: 1px solid #EAEAEA;
	display:inline-block;
}

.ui-card-header {
  background-color: var(--ui-card-header);
	display: inline-block;
}

.ui-card-footer {
  background-color: var(--ui-card-footer);
  border: none;
  max-height: 162.69px;
}

.ui-main-footer {
  background-color: #FFFFFF;
  max-height: 50px;
	position: absolute;
}

.ui-main-body {
  background-color: #FBFBFB;
  padding: 3em;
	padding-right: 0px;
	padding-bottom: 7em;
  height: 100%;
	width: 100%;
	position: absolute;
}

.ui-card-body {
  background-color: var(--ui-card-body);
}

th {
  background-color: #eaeaea;
  font-family: "ui Segoe UI Light";
}

tbody {
  background-color: white;
}

.alertImage {
  width: 150px;
  height: 150px;
}

.selected {
  background: lawngreen;
}

.icon-error {
  color: #DD574B;
}

.icon-success {
  color: #8DA552;
}

.warning {
  background-color: #FFBE00;
}

.success {
  background-color: #8DA552;
}

.danger {
  background-color: #DD574B;
}

.ui-seruice {
  color: #EF7B10;
}

.ui-applicationLogo {
  max-height: 2em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
	margin-left:1.25em;
  margin-right:1.25em;
}

.ui-applicationStationName {
	font-family: "ui Segoe UI Light";
	font-size: 1em;
	margin: 0.75em;
	margin-right:0.25em;
	margin-left: 0.1em;
	float:left;
}

.ui-applicationProductName {
	font-family: "ui Segoe UI";
  color: #EF7B10;
	font-size: 1em;
	margin: 0.75em;
	margin-right: 0.25em;
	margin-left: -0.25em;
	float:left;
}

.ui-button {
  background-color: #F5F5F5;
	border-color: #4D575D;
	font-family: "ui Segoe UI Light";
  min-height: 6em;
  min-width: 12em;
  margin: 10px;
	float:center;
	border: 1px solid #D8D8D8;
	border-radius:5px;
  color: #212529;
}

.ui-button:hover {
    background-color: #F5F5F5;
    text-decoration: none;
    color: #212529;
}

.ui-button-vertical {
	margin-top: 10px;
	margin-bottom: -10px;
	display: block;
}

.ui-button-icon {
	color:#4D575D;
}

.fa-2x {
	font-size: 2em;
}

.fa {
	position: relative;
	display: table-cell;
	width: 3em;
	height: 2em;
	margin-top: 0.75em;
	text-align: center;
	vertical-align: middle;
	font-size:18px;
}

.main-menu:hover,nav.main-menu.expanded {
	width:250px;
	overflow:uisible;
}

.main-menu {
	background:#F5F5F5;
	border-right:1px solid #D8D8D8;
	position:absolute;
	top:0em;
	bottom:0;
	height:100%;
	left:0;
	width:3em;
	overflow:hidden;
	-webkit-transition:width .05s linear;
	transition:width .05s linear;
	-webkit-transform:translateZ(0) scale(1,1);
	z-index:1025;
}

.main-menu>ul {
	margin:7px 0;
}

.main-menu li {
	position:relative;
	display:block;
	width:250px;
}

.main-menu li>a {
	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color:#4D575D;
	font-family: arial;
	font-size: 14px;
	text-decoration:none;
	-webkit-transform:translateZ(0) scale(1,1);
	-webkit-transition:all .1s linear;
	transition:all .1s linear;
}

.menu-settings li>a {
	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color: #8DA552;
	font-family: arial;
	font-size: 14px;
	text-decoration:none;
	-webkit-transform:translateZ(0) scale(1,1);
	-webkit-transition:all .1s linear;
	transition:all .1s linear;
}

.main-menu .nav-icon {
	position:relative;
	display:table-cell;
	width:60px;
	height:36px;
	text-align:center;
	vertical-align:middle;
	font-size:18px;
}

.main-menu .nav-text {
	position:relative;
	display:table-cell;
	vertical-align:center;
  padding: 1em;
	width:14em;
	font-family: 'Segoe UI', sans-serif;
	border-right: 1px solid #D8D8D8;
}

.main-menu>ul.BottomNav {
	position:relative;
	left:0;
	bottom:0;
}

.main-menu>ul.StatusIcons {
	position:fixed;
	left:0;
	bottom:-0.2em;
	background:white;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
}

.no-touch .scrollable.hover {
	overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y:auto;
	overflow:uisible;
}

a:hover,a:focus {
	text-decoration:none;
}

nav {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

nav ul,nav li {
	outline:0;
	margin:0;
	padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
	color: #ED7B22;
	background-color:#F5F5F5;

}
.area {
	float: left;
	background: #E2E2E2;
	width: 100%;
	height: 100%;
}

.MenuButton {
  background: transparent;
	display: block;
	color: white;
  border: none !important;
  margin: 0.75em;
}


/* Hamburger menu styling */
.menucontainer {
	background-color: #ED7B22;
  width: 3em;
  height: 3em;
	margin-left: 0em;
	margin-top: -0.75em;
	margin-bottom: 0em;
}
.menuicon {
	margin-left: 0em;
	margin-top: 0.95em;
}

/* Top nauigation bar styling */
.navbar{
	margin-top: 0em;
	margin-left: 3em;
	border-radius: 0px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #D8D8D8;
}

.navbar-top{
	max-height: 3em;
}

.navbar-fixed-left {
	width: 3em;
	/* margin-top: 3em;	*/
	position:fixed;
	height: 100%;
	background: #F5F5F5;
	border-right: 1px solid #D8D8D8;
}

.navbar-fixed-left .navbar-nav > li {
	float: left;  /* Cancel default li float: left */
	width: Auto;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
	margin-top: 0px;
	margin-left: 140px;
}

.buttonbar-bottom{
	background-color: #FFFFFF;
	border-top: 1px solid #D8D8D8;
	height: 7em;
	margin-left: 3em;
	text-align: center;
	width: 100%;
	border-radius: 0px;
	z-index:1000 !important;
}

.searchbox{
	background-color: #F1F1F1;
	border: none;
	padding: 0.25em;
	font-family: "ui Segoe UI Light";
	font-size: 16px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 1.43em;
}

.search-item {
  margin-top: 1.1em;
}
.search-icon {
  margin-top: 1.1em;
  outline: none;
}
.input-group-text{
  padding: 0;
  height:2.33em;
}

.searchbutton{
	color: #9EADB4;
	margin-left: -0.5em;
	margin-top: 1em;
	margin-bottom:1em;
}

html,
body {
  font-size: 14px !important;
}
h1 {
  font-size: 1.602em;
}
h2 {
  font-size: 1.424em;
}
h3 {
  font-size: 1.266em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 0.889em;
}
h6 {
  font-size: 0.79em;
}


@media (min-width: 48em) {
  h1 {
      font-size: 2.441em;
  }
  h2 {
      font-size: 1.953em;
  }
  h3 {
      font-size: 1.563em;
  }
  h4 {
      font-size: 1.25em;
  }
}

/*// Large deuices (desktops, 62em and up)*/
@media (min-width: 62em) {
  html,
  body {
      font-size: 16px !important;
  }
}

/*// Extra large deuices (large desktops, 75em and up)*/
@media (min-width : 75.000em ){
  html,
  body {
      font-size: 18px !important;
  }
}

.fa-user {
	color: green;
}
.fa-sign-out {
	color: green;
}
